<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="file" xsi:type="File" fileName="Log.txt" layout="${longdate}|${level:uppercase=true}|${message:withexception=true}| on line: ${callsite-linenumber}" />
		<target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|File not found"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>